# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Data and model artifacts
data/
model/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and outputs
*.log

# OS files
.DS_Store
Thumbs.db
